<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.dao.BoardDAO">

<insert id="create">
	insert into Board(bno,title,content,writer,regdate,viewcnt)
	values (seq_board.nextval,#{title},#{content},#{writer})
</insert>

<select id="read" resultType="BoardDTO">
	select * from Board where bno=#{bno}
</select>

<update id="update">
	update Board set title=#{title},content=#{content} 
	where bno=#{bno}
</update>

<delete id="delete">
	delete from Board where bno=#{bno}
</delete>

<sql id='search'>
	<if test="searchType!=null">
		<if test="searchType == '-----'.toString()"> and (title like '%'||#{keyword}||'%' OR content like '%'||${keyword}||'%' OR writer like '%'||#{keyword}||'%')</if>
		<if test="searchType == 't'.toString()"> and title like '%'|| #{keyword}||'%' </if>
		<if test="searchType == 'c'.toString()"> and content like '%'|| #{keyword}||'%' </if>
		<if test="searchType == 'w'.toString()"> and writer like '%'|| #{keyword}||'%' </if>
		<if test="searchType == 'tc'.toString()"> and ( title like '%'|| #{keyword}||'%' OR content like '%'|| #{keyword}||'%') </if>
		<if test="searchType == 'cw'.toString()"> and ( content like '%'|| #{keyword}||'%' OR writer like '%'|| #{keyword}||'%') </if>
		<if test="searchType == 'tcw'.toString()"> and ( title like '%'|| #{keyword}||'%' OR content like '%'|| #{keyword}||'%' OR writer like '%'|| #{keyword}||'%') </if>
	</if>
</sql>

<!-- ![CDATA는 []괄호 안에 있는것은 일반 문자열을 기술한것이다. -->
<select id="listSearch" resultType="com.human.dto.BoardDTO">
<![CDATA[select bno, title, content, writer, viewcnt, regdate from (select rownum rn,a.*
    from (
        select tbl_board.*
        from tbl_board 
        where 1=1  ]]>
<!-- include 는 refid 옆에 입력한 search를 찾아간다 위에 sql id='search'로 찾아간다. -->         
<include refid="search"/>
<![CDATA[   order by bno desc) a where rownum<=#{page} * #{perPageNum}) b
	where rn>(#{page} -1) * #{perPageNum}]]>
</select>

<!-- <select id="listSearch" resultType="com.human.dto.BoardDTO">
<![CDATA[select bno, title, content, writer, viewcnt, regdate from
(select /*+INDEX_DESC(tbl_board,pk_board)*/ 
rownum rn,bno,title,content,writer,viewcnt,regdate
from tbl_board where 1=1 ]]>
<include refid="search"/>
<![CDATA[ and rownum <= #{page} * #{perPageNum} and bno > 0 ) 
where rn > (#{page} -1) * #{perPageNum}]]>
</select> -->


<!-- 모돈 데이터를 count하고 있다. -->
<select id="listSearchCount" resultType="int">
<![CDATA[ select count(bno) from tbl_board where 1=1 ]]>
<include refid="search"/>
<![CDATA[ and bno > 0 ]]>
</select>

</mapper>