<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.dao.BoardDAO">
	<insert id="create">insert into tbl_board (bno, title,content,writer)
		values (seq_board.nextval,#{title},#{content}, #{writer})
	</insert>
	<select id="read" resultType="BoardDto">
		select * from tbl_board where bno =
		#{bno}
	</select>
	<update id="update"> update tbl_board set title =#{title}, content
		=#{content} where bno = #{bno}
	</update>
	<delete id="delete"> delete from tbl_board where bno = #{bno} </delete>
	<select id="listAll" resultType="com.human.dto.BoardDto">
<![CDATA[ select * from tbl_board where bno > 0 order by bno desc, regdate desc ]]>
	</select>
	<update id="viewCount">
		update tbl_board set viewcnt=viewcnt+1
		where
		bno=#{bno}
	</update>
	<select id="listSearchCount" resultType="int">
<![CDATA[ select count(bno) from tbl_board where 1=1 ]]>
		<!-- <include refid="search"/> -->
<![CDATA[ and bno > 0 ]]>
	</select>
	<select id="listSearch" resultType="com.human.dto.BoardDto">
<![CDATA[select * from (select rownum rn,a.* from (select tbl_board.* from tbl_board where 1=1  ]]>
		<!-- include 는 refid 옆에 입력한 search를 찾아간다 위에 sql id='search'로 찾아간다. -->
		<include refid="search" />
 <![CDATA[   order by bno desc, depthno, regdate) a where rownum<=#{page} * #{perPageNum}) b where rn>(#{page} -1) * #{perPageNum}]]>
	</select>
	<sql id='search'>
		<if test="searchType!=null">
			<if test="searchType == '00000'.toString()"> and (title like '%'||#{keyword}||'%' OR content like
				'%'||${keyword}||'%' OR writer like '%'||#{keyword}||'%')</if>
			<if test="searchType == 't'.toString()"> and title like '%'|| #{keyword}||'%' </if>
			<if test="searchType == 'c'.toString()"> and content like '%'|| #{keyword}||'%' </if>
			<if test="searchType == 'w'.toString()"> and writer like '%'|| #{keyword}||'%' </if>
			<if test="searchType == 'tc'.toString()"> and ( title like '%'|| #{keyword}||'%' OR content like
				'%'|| #{keyword}||'%') </if>
		</if>
	</sql>
</mapper>